name: Generate UML Diagrams from C#

on:
  # push:
  #   paths:
  #     - 'Assets/Scripts/*.cs'
  workflow_dispatch:

jobs:
  generate-diagrams:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Generate PlantUML Source
      run: |
        docker run --rm -v $(pwd)/Assets/Scripts:/source -v $(pwd)/docs/diagrams:/output pierre3/plantuml-class-diagram-generator

    - name: Render Diagrams
      run: docker run --rm -v $(pwd):/plantuml plantuml/plantuml -o /plantuml/docs/diagrams /plantuml/docs/diagrams/*.puml

    - name: Commit and Push Diagrams
      run: |
        git config --local user.email "${{ github.actor }}@users.noreply.github.com"
        git config --local user.name "${{ github.actor }}"
        git add -A
        git commit -m "Generate UML diagrams" || echo "No changes to commit"
        git push origin || echo "No changes to push"